<!DOCTYPE html>
<html>
	<head>
		<title>Confirma senha</title>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
			<meta name="description" content="Neros Systems">
    <style type="text/css">
    .bold {
	font-weight: bold;
}
    </style>
	</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight=" 0">

<!-- MANTER SEMPRE OS ORIGINAIS PSD EM CAMADAS -->
<!-- Início do layout -->

<table width="100%" height="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" ><tr>
	<td><table width="650" height="100%" border="0" cellpadding="0" cellspacing="0" align="center">
		<td><img src="Imagens/senha.png" width="650" height="816"></td></tr>
</table></table>
