<!--
    Projeto TCC Totem Tree
    @Dev Frontend Fernanda Carolina Aguilera Abarca
    @Dev Backend Gilberto Shimokawa Falcão e Juliana Amaparo
    @Data   18/02/2018
-->

<!DOCTYPE html>
    <html lang="pt-br">

    <head>

        <!--Referencias para navegadores-->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <!--CSS e favicon-->
        <link rel="shortcut icon" href="Imagens/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="CSS/telasTermos.css">

        <!--Responsividade -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1">  

        <title>Termos de Uso</title>

    </head>

    <body>

        <!--Cabeçalho-->
        <header>
            <div class="cabecalho">
                <nav>
                    <ul>
                        <li><a href="sobre.html">sobre</a></li>
                        <li>|</li>
                        <li><a href="termos.html">termos de uso</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!--Logotipo-->
        <div class="logo">
            <a href="TelaLogin.aspx"><img src="Imagens/logo100px.png"/></a>
        </div>

        <!--Texto-->

        <div class="termos">
        <h1 id="titulo">Termos de uso</h1>
            <p id="base">O TotemTree é um software gratuito e em nuvem que junta processamento de texto e mapas mentais em um único lugar. </p>
            <p id="base">Para que ele seja uma ferramenta de grande utilidade e que possa ajudar a todos, é preciso que o usuário esteja atendo a alguns termos:</p></br>
            <h2 id="subtitulo">Proteção à Privacidade e aos Direitos Autorais</h2>
            <p id="base"> Ao de castrar no TotemTree, você concorda que podemos usar esses dados de acordo com nossas políticas de privacidade.</p>
            <p id="base">Nós respondemos às notificações de alegação de violação de direitos autorais e encerramos contas de infratores reincidentes de acordo com os procedimentos estabelecidos na <a href="http://www.planalto.gov.br/ccivil_03/leis/l9610.htm" target="blank">Lei de Direitos Autorais Brasileira</a>.</p></br>
            <h2 id="subtitulo">Sobre dados armazenados</h2>
            <p id="base">Todos os dados são armazenados em nuvem. A equipe TotemTree não se responsabiliza por queda de servidores, dados corrompidos e eventuais perdas. Recomendamos aos nossos usuários a sempre efetuarem o backup de seus arquivos.</p></br>
            <h2 id="subtitulo">Como modificar e cancelar nossos Serviços</h2>
            <p id="base">Estamos constantemente alterando e melhorando nossos Serviços. Podemos incluir ou remover funcionalidades ou recursos e podemos também suspender ou encerrar um Serviço por completo.</p>
            <P id="base">Você pode deixar de usar nossos a qualquer momento. O ToemTree também poderá deixar de prestar os serviços a você ou, incluir ou criar novos limites a qualquer momento.</P>
        </div>

        <!--Rodapé-->
        <footer>
            <div class="rodape">TTT 2019:&nbsp; F. Abarca - G. Shimokawa - J. Amparo</div>
        </footer>
    </body>

<html>